@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
:root {
  --clr-oxford-blue: hsla(212, 100%, 17%, 1);
  --clr-oxford-blue-3: hsla(219, 100%, 10%, 1);
  --clr-delft-blue: hsla(220, 29%, 28%, 1);
  --clr-slate-gray: hsla(222, 11%, 54%, 1);
  --clr-cherry-blossom-pink: hsla(345, 100%, 85%, 1);
  --clr-bakermiller-pink: hsla(345, 100%, 78%, 1);
  --clr-russian-violet: hsla(255, 45%, 18%, 1);
  --clr-lilac: hsla(292, 28%, 68%, 1);
  --clr-cornsilk: hsla(52, 94%, 94%, 1);
  --clr-earth-yellow: hsla(32, 65%, 62%, 1);
  --clr-tigers-eye: hsla(28, 67%, 44%, 1);
}
body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.container{

}

.header-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}
.title {
  font-size: 50px;
  font-weight: 600;
  margin-right: 7rem;
}
.fa-solid.fa-desktop {
  font-size: 2rem;
  color: dodgerblue;
  border-right: 1px solid rgb(129, 127, 127);
  padding-right: 1.5rem;
  margin-left: 8rem;
  cursor: pointer;
}
.fa-solid.fa-mobile-screen {
  font-size: 2rem;
  margin-left: -2rem;
  cursor: pointer;
}
.fa-solid.fa-mobile-screen:hover {
  color: dodgerblue;
  cursor: pointer;
}
.title-text {
  font-size: 19px;
  color: var(--clr-slate-gray);
}
.title-description {
  text-decoration: underline;
  color: var(--clr-slate-gray);
}
.title-description:hover {
  color: dodgerblue;
  cursor: pointer;
}
.edit-page {
  padding: 1rem 2.5rem;
  background-color: #116dff;
  border-radius: 25px;
  color: #fff;
  border: none;
}
.edit-page:hover {
  cursor: pointer;
  background-color: dodgerblue;
}
.lens{
  width: 25px;
}
.box-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 10rem;
  background-color:black;
}
.search-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.lens{
  margin-right: 10px;
  background: gray;
  border-radius: 50%;
}
.search-text{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.logos{
  width: 25px;
  margin-right: 20px;
  background: #fff;
  border-radius: 50%;
}
.box-three{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
}
.head{
  font-size: 32px;
  font-weight: 700;
}
.right-profile{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 3rem;
}
.bio-one{
  color: var(--clr-tigers-eye);
}
.bio:hover{
  color: var(--clr-tigers-eye); 
  cursor: pointer;
}
.image-container{
  width: 33%;
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;  
}